.env
.env.*
!.env.example
*.log
phpunit.result.cache
.phpunit.cache
/storage/*.key
/node_modules
/public/storage
/vendor
/storage/*
!/storage/app
!/storage/framework
!/storage/logs
/storage/app/*
!/storage/app/.gitkeep
/storage/framework/*
!/storage/framework/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
.DS_Store
.idea
.vscode
Thumbs.db
.vcs.xml
.idea/
*.iml
.vscode/
