.env
.env.*
!.env.example
*.log
.phpunit.result.cache
.phpunit.cache
/storage/*
!/storage/app/
!/storage/framework/
!/storage/logs/
/storage/app/*
!/storage/app/**/.gitignore
/storage/framework/
!/storage/framework/**/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/vendor
/node_modules
/public/storage
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
.vcs.xml
